@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

/*reset*/
body {
    padding:0; margin:0;
    color:white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
}
h1, h2, h3, h4, h5, h6 {vertical-align: baseline; outline: 0; padding: 0; margin: 0; border: 0;}
ul, li {padding:0; margin:0; list-style:none;}


#container {
    position:relative; width:100%; height:100vh;
    text-align:center; background:rgb(0, 0, 0, 0.2);
}
.js-weather {position:absolute; top:0; right:0; text-align:right; padding:15px 30px 0 0;}

.js-clock {padding-top:24vh; font-family: 'Noto Serif KR', serif;}
.js-title {font-size:15vh;}

.form,
.greetings {display:none;}
.showing {display:block;}

.js-form > input {width:100%; max-width:320px; background:none; border:none; border-bottom:1px solid white; padding:5px 10px; color:white; font-size:1rem;}
.js-form > input::placeholder {color:white;}

.js-greetings {font-weight:100; font-family:auto;}

.js-toDoForm {padding-top:8vh;}
.js-toDoForm > input {width:100%; max-width:320px; background:none; border:none; border-bottom:1px solid white; padding:5px 10px; color:white; font-size:1rem;}
.js-toDoForm > input::placeholder {color:white;}

.js-toDoList {
    width:340px; height:113px; margin-top:3vh;
    margin-left:50%; left:-162px;
    overflow-x:hidden; position:relative;
}
.js-toDoList::-webkit-scrollbar {width:8px;}
.js-toDoList::-webkit-scrollbar-thumb {background:white; border-radius:8px;}
.js-toDoList::-webkit-scrollbar-track {background:rgb(255, 255, 255, 0.3); border-radius:8px;}
.js-toDoList li {
    position:relative; width:320px; margin-bottom:8px;
    text-align:left; color:black; text-shadow:none; font-family:auto;
    background:rgb(255, 255, 255, 0.4); box-sizing:border-box; padding:5px 15px; 
    border-radius:25px;
}
.js-toDoList li:last-child {margin-bottom:0;}
.js-toDoList li button {position:absolute; right:5px; background:none; line-height:1.3rem; cursor:pointer; border:none;}
.js-toDoList li span {font-family:auto; font-weight:100;}


@keyframes fadeIn{ 
    from{
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.bgImage { position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1; animation: fadeIn .5s linear; object-fit:cover;}  /*object-fit은 img에 사용하는 background-size ver*/